
.Heading > tr > th {
  position: sticky;
  top: 0;
  background-color: #117a8b;
  color: #ddd;
  font-weight: normal;
}

.loading2 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}